.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
    gap: 24px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    list-style: none;
}

.gallery-item {
    width: calc((100% - 48px)/3);
    height: 200px;
}

.gallery-link {
    cursor: pointer;
}

.gallery-link:hover .gallery-image {
    transform: scale(1.04);
}

.gallery-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.sl-overlay {
    background: rgba(46, 47, 66) !important;
}

.sl-wrapper .sl-close {
    color: #fff !important;
}

.sl-wrapper .sl-counter {
    color: #fff !important;
}

.sl-wrapper .sl-navigation button {
    color: #fff !important;
}